<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">Movie Collectoin</a>
    <ul class="left hide-on-med-and-down">
      <li class="active"><a href='/register'>Sign Up!</a></li>
      <li class="active"><a href='/login'>Login!</a></li>
      <li class="active"><a href='/logout'>Log Out!</a></li>
      <li class="active"><a href='/search'>Search</a></li>
    </ul>
  </div>
</nav>
