<head>
  <% include partials/head %>
</head>

<header>
  <% include partials/header %>
</header>

<div class="container">
  <div>
  <h3>Movie List</h3>

<a href="/search" class="btn1 btn btn-primary">Add A New Movie</a>


<% movies.forEach(function(movie) { %>
  <div class="container">
    <div>
    <h5><%= movie.original_title %></h5>
    <h4><img src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" ></h4>

    <form method="post" action="/home/<%= movie._id %>?_method=DELETE">
    <button class="btn1 btn btn-primary" type="submit">delete</button>
    </form>
  </div>
</div>
<% }); %>

</div>
</div>



<footer class="footer">
  <% include partials/footer %>
</footer>
