<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo right">Movie Collection</a>
          <ul class="left hide-on-med-and-down">
            <li class="active"><a href='/register'>Sign Up</a></li>
            <li class="active"><a href='/login'>Login</a></li>
            <li class="active"><a href='/logout'>Log Out</a></li>
            <li class="active"><a href='/search'>Search</a></li>
          </ul>
        </div>
      </nav>

    </header>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <footer class="page-footer">
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    </footer>

  </body>
</html>
