<head>
  <% include partials/head %>
</head>

<header>
  <% include partials/header %>
</header>

<h1>Sign Up Form</h1>

<form action='/register' method='POST'>
  <input type='text' name='username' placeholder='username'>
  <input type='password' name='password' placeholder='password'>

  <button class="btn waves-effect waves-light" type="submit" name="action">
   <i class="material-icons center">submit</i>
  </button>
</form>

<footer>
  <% include partials/footer %>
</footer>
