<head>
  <% include partials/head %>
</head>

<header>
  <% include partials/header %>
</header>



<div class="container">
  <div class="outline">
    <br>
    <h3>Search For a Movie</h3>
    <div class="row">
      <form class="col s12" action="/results" method="GET">
        <div class="row">
          <div class="input-field col s10">
            <i class="material-icons prefix">movie</i>
            <input id="icon_prefix" type="text" name="search" class="validate">
            <label for="icon_prefix">Movie Title</label>
            <button class="btn1 btn waves-effect waves-light" type="submit" name="action">
              submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<footer>
  <% include partials/footer %>
</footer>
