<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo right">Movie Collection</a>
    <ul class="left hide-on-med-and-down">
      <li><a href='/home'>Home</a></li>
      <li><a href='/login'>Login</a></li>
      <li><a href='/register'>Sign Up</a></li>
      <li><a href='/logout'>Log Out</a></li>
      <li><a href='/search'>Search</a></li>
    </ul>
  </div>
</nav>
