<head>
  <% include partials/head %>
</head>

<header>
  <% include partials/header %>
</header>

<h3>Movie List</h3>

<a href="/search" class="btn btn-primary">Add A New Movie</a>




<footer>
  <% include partials/footer %>
</footer>
