<head>
  <% include partials/head %>
</head>

<header>
  <% include partials/header %>
</header>

  <body>
    <div class="container">
      <div>
        <img src="http://molempire.com/app/uploads/2016/04/cinema.jpg">
      </div>
    </div>


  </body>
</html>
