<head>
  <% include partials/head %>
</head>

<header>
  <% include partials/header %>
</header>

<h3>Search Results</h3>


<!-- NEW TRIAL RENDER -->
<ul>
  <% data["results"].forEach(function(movie) { %>
    <li>
      <form action="/" method="post">

          <label for="Title"><strong><%= movie["original_title"]%></strong></label><br>
          <input type="hidden" name="title" value="<%= movie["Title"]%>">

          <label for="Poster"><img src=<%= movie["poster_path"] %> ></label><br>
          <input type="hidden" name="poster" value="<%= movie["poster_paths"]%>">

          <button type="submit" class="waves-effect waves-light btn grey"> Save </button>
      </form>
    </li>
  <% }) %>
</ul>



<a href="/search" class="waves-effect waves-light btn">Search Again</a>
<footer>
  <% include partials/footer %>
</footer>
